.section {
  padding: 10px 20px 0 20px;
  .continer {
    display: flex;
    justify-content: space-between;
    .animate1 {
      position: relative;
      animation: fromLeft 1s;
    }
    .animate2 {
      position: relative;
      animation: fromRight 1s;
    }
    .box {
      width: 49%;
      height: 45vh;
      border-radius: 20px;
      background-color: #ffffff20;
      backdrop-filter: blur(5px);
      overflow: hidden;

      .boxContiner {
        display: flex;
        justify-content: center;
        .imgBox {
          padding: 18px 0;
          display: flex;

          .img {
            width: 250px;
            height: 250px;            
            border-radius: 10px;
            overflow: hidden;
            &:hover{
              p{
                top: 225px;
              }
            }
            p{
              text-align: center;
              width: 140px;
              padding: 2px;
              position: relative;
              top: 250px;
              left: 60px;
              // display: none;
              transition: .5s;
              background-color: #0D1117;
              border-radius: 5px;
              
            }
          }
        }
      }

      .loaderBox {
        display: flex;
        justify-content: center;
      }

      .loader {
        border: 10px solid #f3f3f3;
        margin-top: 100px;
        border-radius: 50%;
        border-top: 10px solid #1a1b1f;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

@keyframes fromRight {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes fromLeft {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
